{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block bodyid %}restaurants{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}Brian Xie | Restaurants{% endblock %}

{% block extrahead %}
    <link rel='stylesheet' type='text/css' href="{% static 'restaurants/style.css' %}">
{% endblock %}

{% block main_content %}
    <div class='container' id='restaurants'>
        <div class='title_section'>
            <h1><b>Restaurants</b></h1>
        </div>

        {% include "restaurants/searchbar.html" %}

        {% if restaurants %}
            {% render_table table %}
        {% else %}
            <h5> Nothing matched your search. </h5>
        {% endif %}
    </div>
{% endblock %}
