{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block bodyid %}restaurants{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}Brian Xie | Restaurants{% endblock %}

{% block extrahead %}
    <link rel='stylesheet' type='text/css' href="{% static 'restaurants/style.css' %}">
{% endblock %}

{% block main_content %}
    <div class='container' id='restaurants'>
        <div class='title_section'>
            <h1><b>Visualizations</b></h1>
        </div>

        <h5 style='margin-bottom: 1.5rem;'> Some interesting visualizations of the data from restaurants I've visited. </h5>
        <div class='row' id='ratingDistributionRow'>
            <div class='col-md-9'>
                <canvas id="ratingDistribution" width="800" height="400"></canvas>
            </div>
            <div class='col-md-2 text-center'>
                <h6>Total Rated:</h6>
                <h4 id="totalRated"></h4>
                <h6>Average Rating:</h6>
                <h4 id="averageRating"></h4>
                <h6>Standard Deviation:</h6>
                <h4 id="stddevRating"></h4>
            </div>
        </div>
        <!-- TODO: create the table with cuisine, rating, count.
             Note: this needs to be orderable by cuisine, average rating, count-->
        <div class='row' id='cuisineDistributionRow'>
            <div class='col-md-6'>
                <!--
                <table class='table'>
                    <tbody>
                        <tr>
                            <th scope='row'>Cuisine</th>
                            <th scope='row'>Average Rating</th>
                            <th scope='row'>Count</th>
                        </tr>
                    </tbody>
                </table>
                -->
            </div>
        </div>
    </div>
{% endblock %}

<!-- Visualization loading Chart.js script -->
<script>
    {% block jquery %}
    var endpoint = '../api/statistics/data/'
    var defaultData = []
    var labels = []
    var totalRated = 0
    var averageRating = 0
    var stddevRating = 0
    var cuisines = []
    var cuisineRatings = []
    var cuisineCounts = []
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(response_data) {
            console.log("success")
            labels = response_data.ratings_labels
            defaultData = response_data.ratings_default
            totalRated = response_data.total_rated
            averageRating = response_data.average_rating
            stddevRating = response_data.stddev_rating
            cuisines = response_data.cuisines
            cuisineRatings = response_data.cuisine_rating
            cuisineCounts = response_data.cuisine_count
            setRatingDistribution()
            setCuisineDistribution()
        },
        error: function(error_data) {
            console.log("error")
            console.log(error_data)
        }
    })
    function setRatingDistribution() {
        var ctx = document.getElementById("ratingDistribution");
        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: labels,
                datasets: [{
                    label: "# of Restaurants",
                    data: defaultData,
                    backgroundColor: 'rgba(120, 120, 230, 1)',
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Rating',
                            fontColor: 'black',
                            fontFamily: 'Ubuntu',
                            fontSize: 18
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Number of Restaurants",
                            fontColor: 'black',
                            fontFamily: 'Ubuntu',
                            fontSize: 18
                        }
                    }]
                },
                title: {
                    display: true,
                    fontColor: 'black',
                    fontSize: 28,
                    fontFamily: 'Ubuntu',
                    text: "Rating Distribution"
                },
                animation: {
                    duration: 300
                },
                hover: {
                    animationDuration: 0
                },
                tooltips: {
                    custom: function(tooltip) {
                        if (!tooltip) return;
                        // disable displaying color box
                        tooltip.displayColors = false;
                    },
                    callbacks: {
                        label: function(tooltipItem, data) {
                            return tooltipItem.xLabel;
                        },
                        title: function(tooltipItem, data) {
                            return;
                        }
                    }
                }
            }
        });
        var totalRatedElement = document.getElementById("totalRated");
        totalRatedElement.innerHTML = totalRated.toString();
        var avRatingElement = document.getElementById("averageRating");
        avRatingElement.innerHTML = averageRating.toString();
        var stddevRatingElement = document.getElementById("stddevRating");
        stddevRatingElement.innerHTML = stddevRating.toString();
    }
    function setCuisineDistribution() {
    }
    {% endblock %}
</script>
