.container {
    padding-bottom: 2.5rem;
}

.nav-item {
    margin-left: .5em;
    margin-right: .5em;
}

.title_section {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.active {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

br {
    display: block;
    margin-bottom: 0.6rem;
    content: " ";
}

hr {
    margin-top: 0.1em;
    margin-bottom: 0.3em;
    border: 1px solid purple;
}
