{% extends "base.html" %}
{% load static %}

{% block bodyid %}h31mp{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}Brian Xie | H31MP{% endblock %}

{% block extrahead %}
    <link rel='stylesheet' type='text/css' href="{% static 'h31mp/style.css' %}">
{% endblock %}

{% block main_content %}
    <div class='container' id='h31mp'>
        <div class='title_section'>
            <h1><b>H31 Meal Plan</b></h1>
        </div>
        <div class='row'>
            <div class='col-sm-2'></div>
            <div class='col-sm-8'>
                <img src="{% static 'h31mp/background.jpg'%}" id="h31mpBackgroundPicture">
                <p id='note-text'>View from the MacGregor H31 suite kitchen</p>
            </div>
            <div class='col-sm-2'></div>
        </div>
        <div id='text-container'>
            <p>Welcome to the H31 Meal Plan (H31MP) webpage!</p>
            <p>H31 Meal Plan was an informal pop-up restaurant organized by myself located in MacGregor House. The name H31 comes from my suite -- I live in H Entry, suite 31. This was a personal project that I had wanted to try for a long time. After some thought, I decided to give it a try over IAP 2020.</p>
            <p>I had two primary motivations for opening H31MP. First, as an incredible learning opportunity, learning new dishes from the requests that I get, experimenting with cooking techniques, and gaining experience cooking for larger groups of people. Second, as a social opportunity, to meet new people and connect with friends in the MIT community. With that in mind, I made H31MP <b>completely free</b>; no need to worry about expenses! Anyone at MIT, even those who I had never met before, were welcome to sign up.</p>
            <p>Over the course of IAP, I hosted a group every Thursday and Sunday for lunch and dinner (16 groups and 46 people in total). There was no set menu: I sent a questionaire to each group asking for food preferences and requests, and I tailored each meal to the response I received.</p>
            <p>H31MP was a great experience. I probably won't do this again to the same scale, but I learned a ton, had some great conversations, and I'll definitely continue to host dinners and whatnot for friends and family in the future. Cheers!</p>
        </div>
    </div>
{% endblock %}
