boto3==1.26.133
dj-database-url==2.0.0
Django==4.2.3
django-appconf==1.0.5
django-image-cropping==1.7
django-storages==1.13.2
django-tables2==2.5.3
easy-thumbnails==2.8.5
gunicorn==20.1.0
newrelic==8.8.0
Pillow==9.5.0
psycopg2==2.9.6
pytz>=2023.3
six==1.15.0
whitenoise==6.4.0
