{% extends "base.html" %}
{% load static %}
{% load cropping %}

{% block bodyid %}index{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}Brian Xie | Cookbook{% endblock %}

{% block extrahead %}
    <link rel='stylesheet' type='text/css' href="{% static 'cookbook/style.css' %}">
{% endblock %}

{% block main_content %}
    <div class='container' id='cookbook'>
        <div class='title_section'>
            <h1> <b>Cookbook</b> </h1>
        </div>
        <h5>"Anyone who loves to eat, can learn to cook well." (Jane Grigson)</h5>
        <h5>Below are some of my creations!</h5>

        {% include "cookbook/searchbar.html" %}

        {% if recipes_to_display %}
            {% for recipe in recipes_to_display %}
            <a href="./{{recipe.url_name}}">
                <div class='button_img'>
                <div class='img_link_wrap'>
                    <img class='img__img' src="{% cropped_thumbnail recipe 'cropping' %}">
                    <h5 class='img__description'><b>{{recipe.recipe_name}}</b></h5>
                </div>
                </div>
            </a>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if recipes_to_display.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ recipes_to_display.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ recipes_to_display.number }} of {{ recipes_to_display.paginator.num_pages }}.
                    </span>
                    {% if recipes_to_display.has_next %}
                        <a href="?page={{ recipes_to_display.next_page_number }}">next</a>
                        <a href="?page={{ recipes_to_display.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% else %}
            <h5> Nothing matched your search. </h5>
        {% endif %}
    </div>
{% endblock %}
