{% extends "base.html" %}
{% load static %}

{% block bodyid %}home{% endblock %}
{% block bodyclass %}{% endblock%}
{% block headtitle %}Brian Xie{% endblock %}

{% block extrahead %}
    <link rel='stylesheet' type='text/css' href="{% static 'cookbook/style.css' %}">
{% endblock %}

{% block main_content %}
    <div class='container' id='frontpage'>
        <div class='title_section' id='FrontTitle'>
            <h1><b>Brian Xie</b></h1>
        </div>

        <div class='row'>
            <div class='col-sm-5' id='ProfilePictureColumn'>
                <img src="{% static 'profile.jpg'%}" id='ProfilePic'>
            </div>
            <div class='col-sm-7' id='ProfileTextColumn'>
                <p>Hi! My name is Brian Xie, and I'm a software engineer at <a href='https://plaid.com/'>Plaid</a>. I graduated from MIT in 2020 with a degree in Computer Science and Engineering. My primary academic interests include back-end software engineering, computer systems, and game theory.</p>
                <p>I'm also a semi-professional poker player and former co-president of the <a href='http://poker.mit.edu'>MIT Poker Club</a>. I specialize in 6-max Pot Limit Omaha (PLO) cash, which I began playing in March 2020. I love food, <a href='cookbook'>cooking</a>, and visiting <a href='restaurants'>restaurants</a>. In IAP 2020, I did a beta-test of a pop-up restaurant in my suite, <a href='h31mp'>H31MP</a> -- check it out if you're interested in learning more!</p>
            </div>
        </div>
    </div>
{% endblock %}
