{% load static %}

<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: rgb(65, 65, 65);">
    <a class="navbar-brand" href="{% url 'index' %}">Brian Xie</a>
	<button class="navbar-toggler" type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse w-100 order-3 dual-collapse2" id='navbarNav'>
		<ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class='nav-link' href="{% url 'cookbook:index' %}">Cookbook</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'restaurants:index' %}">Restaurants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'restaurants:statistics' %}">Visualizations</a>
            </li>
            <!-->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'h31mp:index' %}">H31MP</a>
            </li>
            -->
            <!--
            <li class="nav-item">
                <a class="nav-link" href="{% url 'personal:index' %}">@MIT</a>
            </li>
            -->
		</ul>
	</div>
</nav>
