
/* Ensuring that the cookbook view remains centered */

@media (max-width: 542px) {
    #cookbook {
        max-width: 280px;
    }
}
@media (max-width: 796px) and (min-width: 543px) {
    #cookbook {
        max-width: 534px;
    }
}
@media (max-width: 1050px) and (min-width: 797px) {
    #cookbook {
        max-width: 788px;
    }
}
@media (max-width: 1304px) and (min-width: 1051px) {
    #cookbook {
        max-width: 1042px;
    }
}
@media (min-width: 1305px) {
    #cookbook {
        max-width: 1296px;
    }
}

@media (max-width: 600px) {
    #detail-container {
        max-width: 95%;
    }
}
@media (max-width: 1425px) and (min-width: 600px) {
    #detail-container {
        max-width: 570px;
    }
}
@media (min-width: 1425px) {
    #detail-container {
        max-width: 40%;
    }
}

/* Styling for dropdown menu bar */

a {
    text-decoration: none !important;
}

.btn {
    margin-right: 0.8em;
}

.dropdown-toggle {
    background-color: rgb(130, 130, 130);
}

.dropdown-toggle:hover {
    background-color: rgb(65, 65, 65);
}

.legend {
    float: left;
    margin-right: 2em;
    margin-top: 0.2em;
}

.dropdown {
    display: inline-block;
}

#searchbar {
    text-align: center;
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
}

/* When hovering over a food image wrapped by 'button_img' and 'img_link_wrap',
   dim it and show the recipe_name in white over the image */

img {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    transition: opacity .4s;
}

.img_link_wrap {
    margin-bottom: 4px;
    position: relative;
    display: inline-block;
    transition: background-color .4s;
    width: 250px;
    height: 250px;
}

.button_img {
    display: inline-block;
}

.button_img:hover .img_link_wrap {
    background-color: black;
}

.button_img:hover img {
    opacity: 0.60;
}

.img__img {
    max-width: 100%;
    max-height: 100%;
}

.img__description {
  position: absolute;
  top: 110px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  visibility: hidden;
  opacity: 0;

  transition: opacity .4s, visibility .4s;
}

.img_link_wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

/* RECIPE DETAILS
   We want the title to be centered, and
   we want the picture to be displayed with a maximum width */

h1 {
    text-align: center;
}

h5 {
    text-align: center;
}

.ImageDetail {
    width: 100%;
    display: inline-block;
    margin-bottom: 1rem;
}

/* ========================================================================== */
/* Styling for the front page */

/* Ensure that the front page width is optimal */

@media (max-width: 850px) {
    #frontpage {
        max-width: 100%;
    }
}

@media (min-width: 850px) {
    #frontpage {
        max-width: 850px;
    }
}

#ProfilePic {
    max-width: 100%;
    margin-bottom: 1.5rem;
}

#FrontTitle {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.active {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}
